{% extends 'base.html.twig' %}
{% block body %}


<h1>liste des articles </h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">identifiant</th>
      <th scope="col"> libelle</th>
      <th scope="col">qte</th>
      <th scope="col">gamme</th>
    </tr>
{% for tab in articles %}
<tr>


{% for v in tab %}
<td>
{{v}}
</td>
{% endfor %}
</tr>
{% endfor %}
</table>


{% endblock %}
